/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 11 dic. 2023, 16:51:09
    Author     : Daniel
*/

:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #444;
    --blanco: #ffffff;
    --negro: #000000;
    --claro: #e1e1e1;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
    text-align: center;
}

p {
    font-size: 2rem;
}

aside{
    background-color: #444; /* Fondo oscuro para el panel */
    color: #fff; /* Texto blanco */
    border: 0px solid #555; /* Borde oscuro */
    border-radius: 5px;
    max-width: 100%;
}


.contenedor {
    max-width: 85%;
    margin: 0rem auto;
    display: flex;
    gap: 3rem;
    

}

.tabla{
    align-items: center;
    overflow-x:auto;
}

.panel-default a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.filtros{
    display: flex;
    margin: 1rem auto;
    text-transform: uppercase;
    text-align: center;
    gap: 5rem;
    padding: 1rem;
}


/** CODIGO AQUI **/

@media (max-width: 768px){
    .con-sidebar{
       display: grid;
       gap: 3rem;
    }
    aside{
       flex: 1;
    }
    article{
       flex: 3;
    }

}